.Navbar {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo2 {
    padding-top: 0%;
    
  }
}


.Campaigns {
  align-items: left;
  background-color:white;
  padding-top: 0%;
}




